NODE_ENV=development
PORT=3000
SESSION_SECRET=

DB_HOST=localhost
DB_PORT=3306
DB_NAME=bookmyspace
DB_USER=
DB_PASS=

GCP_PROJECT_ID=
GCS_BUCKET_NAME=
GCS_AVATAR_PREFIX=profile-avatars
GCS_SIGNED_URL_EXPIRES_MINUTES=15
GOOGLE_APPLICATION_CREDENTIALS=
