<%- include("head.ejs")%>
<!-- ========== MAIN CONTENT ========== -->
<main main id="content" class="max-w-[85rem] mx-auto my-auto py-10 px-4">
      <div class="flex flex-col items-center justify-center text-center py-52 bg-local" style="background-image:url('../src/images/Rektorat\ View.jpg')">
        <img src="https://1.bp.blogspot.com/-7qowpHzpaGE/WL4X_zdivNI/AAAAAAAAAZg/aD-emlsOZaE1phFy-vY4Uxzgz0B12yQhwCLcB/s1600/Logo%2BUnand%2BRenewed.png" alt="Company Logo" class="w-48 h-48 mx-auto mb-6">
        <h1 class="text-4xl font-bold text-green-800 mb-4">Ruang Pinjam</h1>
        <p class="text-xl text-gray-600 mb-8">Selamat Datang di Ruang Pinjam, Aplikasi Website Peminjaman Ruangan Fakultas Teknologi Informasi, Universitas Andalas.</p>
        <button class="bg-green-800 hover:bg-green-950 text-white font-semibold py-3 px-12 rounded-lg transition duration-300 ease-in-out">Panduan Penggunaan</button>
      </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
<%- include("./footer.ejs")%>