<%- include("head.ejs")%>
  
  <!-- ========== MAIN CONTENT ========== -->
<main id="content">
    <div class="w-max min-h-[75rem] mx-auto pt-12 pb-10 px-4 sm:px-6 lg:px-8 md:pt-24">
      <div class="max-w-md text-center p-8 bg-white shadow-lg rounded-lg">
        <img src="https://1.bp.blogspot.com/-7qowpHzpaGE/WL4X_zdivNI/AAAAAAAAAZg/aD-emlsOZaE1phFy-vY4Uxzgz0B12yQhwCLcB/s1600/Logo%2BUnand%2BRenewed.png " alt="Company Logo" class="w-48 h-48 mx-auto mb-6">
        <h1 class="text-4xl font-bold text-green-800 mb-4">Ruang Pinjam</h1>
        <p class="text-xl text-gray-600 mb-8">Selamat Datang di Website Aplikasi Peminjaman Ruangan Fakultas Teknologi Informasi, Universitas Andalas..</p>
        <button class="bg-green-800 hover:bg-green-950 text-white font-semibold py-3 px-6 rounded-lg transition duration-300 ease-in-out">Panduan Penggunaan</button>
    </div>

    </div>
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  <script src="/preline.js"></script>

<%- include("./footer.ejs")%>