<%- include("head.ejs")%>
<!-- ========== MAIN CONTENT ========== -->
<main id="content">
  <div class="max-w-7xl min-h-[75rem] mx-auto py-10 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl">Hi, <%= user.nama %></h1>
  </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
<%- include("footer.ejs")%>
