<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./public\css/style.css"/>
</head>
<body>
    <div class="container">
        <div class="profile">
            <div class="profile-header">
                <img src="img/profile.png" alt="profile" class="profile-img"/>
                <div class="profile-text-container">
                    <h1 class="profile-title">laura iffa razitta</h1>
                    <p class="profile-email">lauraifra1432gmail.com</p>
                </div>
            </div>
            <div class="menu">
                <a href="#" class="menu-link"> <i class="fa-solid fa-circle-user menu-icon"></i>Account</a>
                <a href="#" class="menu-link"> <i class="fa-solid fa-circle-user menu-icon"></i>Notification</a>
                <a href="#" class="menu-link"> <i class="fa-solid fa-circle-user menu-icon"></i>setting</a>
                <a href="#" class="menu-link"> <i class="fa-solid fa-circle-user menu-icon"></i>Logout</a>
            </div>
        </div>
        <form class="account">
            <div class="account-header">
                <hi class="account-tittle">Account Setting</hi>
                <div class="btn-container">
                    <button class="btn-cancel">Cancel</button>
                    <button class="btn-save">Save</button>
                </div>
            </div>

            <div class="account-edit">
                <div class="input-container">
                  <label>First Name</label>
                  <input type="text" placeholder="First Name">
                </div>
                <div class="input-container">
                    <label>Last Name</label>
                    <input type="text" placeholder="Last Name">
                </div>
            </div>

            <div class="account-edit">
                <div class="input-container">
                  <label>Email</label>
                  <input type="email" placeholder="Email">
                </div>
                <div class="input-container">
                    <label>Phone Number</label>
                    <input type="text" placeholder="Phone Number">
                </div>
            </div>

            <div class="account-edit">
                <div class="input-container">
                  <label>Email</label>
                  <textarea placeholder="Address"></textarea>
                </div>
            </div> 
        </form>
    </div>
</body>
</html>